.addtobag {
    height: 90vh;
    width: 90%;
    position: relative;
    margin: 0px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .addtocart-toptext {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .addtocart-item {
    position: absolute;
    width: 60%;
    top: 10%;
    height: 20%;
    background-color: #F7F7F7;
    display: flex;
  }
  
  .addtocart-item-one {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
    position: relative;
  }
  
  .item-name-and-price button {
    background-color: #fff;
    border-color: #fff;
  }
  
  .price-discountprice {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20%;
    right: 10px;
    height: 100%;
  }
  
  .price-discountprice p {
    line-height: 0.3;
  }
  
  .price-discountprice button {
    width: 30%;
    height: 100%;
  }
  
  .price-discountprice button {
    font-size: xx-large;
    background-color: none;
  }
  
  .order-summary {
    position: absolute;
    right: 16%;
    background-color: #f7f7f7;
    top: 10%;
    height: 50vh;
    width: 20%;
    font-size: 14px;
    padding: 10px 10px;
  }
  
  .checkout-button {
    position: absolute;
    bottom: 10%;
    height: 15%;
    width: 50%;
    left: 25%;
    background-color: #1e2420;
    color: white;
  }
  
  .suggested-items {
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 2%;
    width: 56%;
    height: 46%;
    position: absolute;
    top: 30%;
  }
  
  .suggested-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .suggested-item img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }

  
  .suggested-item p {
    margin: 10px 0;
  }
  




  .suggested-items {
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .suggested-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  
  .suggested-item img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }
  
  .suggested-item p {
    margin: 10px 0;
  }
  